[submodule "tomorrow-theme"]
	path = tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
[submodule "spaceship-prompt"]
	path = spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
